<!-- TODO: Replaced with real data later -->
<div class="slider-container full-width">
  <ul class="bxslider">
    <li><img src="public/images/pic1.jpg" /></li>
    <li><img src="public/images/pic2.jpg" /></li>
    <li><img src="public/images/pic3.jpg" /></li>
    <li><img src="public/images/pic4.jpg" /></li>
  </ul>
</div>

<div class="library">
  <h1 class="title"><span>Screencasts</span></h1>
  <div class="subjects">
    <div class="subject ruby">
      <a href="#">
        <span>Ruby</span>
        <img src="public/images/ruby.png">
      </a>
    </div>
    <div class="subject rails">
      <a href="#">
        <span>Rails</span>
        <img src="public/images/rails.png">
      </a>
    </div>
    <div class="subject angular">
      <a href="#">
        <span>Angular</span>
        <img src="public/images/angular.png">
      </a>
    </div>
  </div>
</div>
