<div class="header">
  <div class="container">
    <a href="#" class="logo"><img src="images/logo.png" alt="fingertips logo" title="Fingertips"></a>
    <ul class="menu">
      <li [class.active]="isActivedItem('browse')" (click)="setActivedItem('browse')"><a [routerLink]="['Browse']">Browse</a></li>
      <li [class.active]="isActivedItem('login')" (click)="setActivedItem('login')" *ngIf="!isLoggedIn"><a [routerLink]="['Login']">Login</a></li>
      <li [class.active]="isActivedItem('register')" (click)="setActivedItem('register')" *ngIf="!isLoggedIn"><a href="#">Register</a></li>
      <li [class.active]="dropDownOpenned" (click)="toggleDropDown($event)" *ngIf="isLoggedIn">
        <a href="#" class="dropdown">Norin <span class="arrow" [class.open]="dropDownOpenned"></span></a>
        <ul class="sub-menu" [class.open]="dropDownOpenned">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a [routerLink]="['Logout']">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="main">
  <div *ngIf="flashMessage" [attr.class]="flashMessage.key">
    <div class="container">{{ flashMessage.text }}</div>
  </div>
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="container">
    <ul>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">Term of Use</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
</div>
