<div *ngIf="tip">
  <div class="tip-component">
    <div class="container">
      <div class="tip-component-head">
        <h1>{{ tip?.title }}</h1>
        <span>{{ tip?.created_at | date: 'longDate' }}</span>
      </div>
      <video [attr.id]="tip?.slug" class="video-js vjs-default-skin vjs-big-play-centered">
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
      <p>{{ tip?.description }}</p>
    </div>
  </div>

  <div class="comment-body">
    <div class="container">
      <h3 class="center">Comments</h3>
      <div class="comment" *ngFor="#comment of comments">
        <div class="commenter">
          <a href="#"><img [attr.src]="comment.user.avatar.url" class="img-circle" /></a>
        </div>
        <div class="comment-content">
          <div class="comment-content-header">
            <h3><a href="#">{{ comment.author_name}}</a></h3>
            <span [time-ago]="comment.created_at"></span>
          </div>
          <pre>{{ comment.body }}</pre>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="comment-form">
      <div class="commenter">
        <a href="#"><img src="images/default_avatar.png" class="img-circle"></a>
      </div>
      <form>
        <div [class.focus]="txtFocus" class="input" tabindex="0">
          <textarea rows="3"
            placeholder="Press Ctrl+Enter to submit."
            [(ngModel)]="comment.body"
            (focus)="setFocus($event)"
            (blur)="removeFocus($event)"
            (keypress)="listen($event)"></textarea>
        </div>
        <div class="not-visible">
          <button></button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="!tip">
  <p>You need to <a [routerLink]="['Login']">login</a> in order to access this page.</p>
</div>
