<div class="tip-component">
  <div class="container">
    <div class="tip-component-head">
      <h1>{{ tip?.title }}</h1>
      <span>{{ tip?.created_at | date: 'longDate' }}</span>
    </div>
    <video [attr.id]="tip?.slug" class="video-js vjs-default-skin vjs-big-play-centered">
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
    <p>{{ tip?.description }}</p>
  </div>
</div>
