<div class="header">
  <div class="container">
    <a href="#" class="logo"><img src="public/image/logo.png" alt="fingertips logo" title="Fingertips"></a>
    <ul class="menu">
      <li [class.active]="actived('browse')" (click)="activating('browse')"><a [routerLink]="['Home']">Browse</a></li>
      <li [class.active]="actived('signin')" (click)="activating('signin')"><a href="#">Sign In</a></li>
      <li [class.active]="actived('signup')" (click)="activating('signup')"><a href="#">Sign Up</a></li>
      <li [class.active]="dropDownOpenned" (click)="toggleDropDown($event)">
        <a href="#">Norin <span class="arrow" [class.open]="dropDownOpenned"></span></a>
        <ul class="sub-menu" [class.open]="dropDownOpenned">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
