.footer {
  height: 50px;
  clear: both;
  border-top: 1px solid #ccc;
}

.footer ul {
  line-height: 50px;
}

.footer ul, .footer a {
  text-align: center;
}

.footer ul li {
  padding: 0 20px;
  display: inline-block;
}

.footer ul li a {
  color: #525252;
  font-size: 0.9em;
}

.footer ul li a:hover {
  text-decoration: underline;
}
