* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:visited {
  color: #525252; /* gray */
}

a:hover, a:active {
  color: #e74430; /* red */
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

.main {
  /*overflow-x: hidden;*/
}

.container {
  margin: 0 auto;
  max-width: 960px;
  min-width: 500px;
}

.full-width {
  padding-left: 3000px;
  margin-left: -3000px;
  padding-right: 3000px;
  margin-right: -3000px;
}

.tip {
  width: 32%;
  float: left;
  height: 175px;
  max-with: 300px;
  background: #000;
  position: relative;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 0.666665%;
  margin-right: 0.666665%;
  margin-top: 7px;
  margin-bottom: 7px;
  position: relative;
}

.tip-name, .tip-duration {
  color: #ccc;
  font-size: 1em;
  z-index: 999;
  transition: color 0.3s;
}

.tip-name {
  top: 5px;
  left: 5px;
  position: absolute;
}

.tip-duration {
  left: 5px;
  bottom: 5px;
  position: absolute;
}

.tip-thumbnail {
  opacity: 0.25;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: opacity 0.3s;
}

.tip:hover .tip-thumbnail {
  opacity: 0.15;
}

.tip:hover .tip-name,
.tip:hover .tip-duration {
  color: #fff;
}

.tip-play {
  top: 0;
  opacity: 0;
  width: 100%;
  font-size: 7em;
  text-align: center;
  line-height: 175px;
  position: absolute;
  transition: all 0.3s;
  color: #e74430 !important;
}

.tip:hover .tip-play {
  opacity: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}

.video-js {
  color: #FF8A73;
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: #FF8A73;
}

.video-js .vjs-big-play-button {
  width: 3em;
  height: 2em;
  line-height: 2em;
  border-color: #FF8A73;
}

.error {
  color: #e74430;
  background: #f2dede;
  border-color: #ebccd1;
}

.success {
  color: #3c763d;
  background: #dff0d8;
  border-color: #d6e9c6;
}

.error, .success {
  padding: 15px;
  border-radius: 4px;
}
