.slider-container {
  margin-top: 10px;
/*  padding-top: 150px;
  padding-bottom: 150px;*/
}

.bx-wrapper {
  margin-bottom: 0;
}

.bx-wrapper .bx-pager {
  text-align: right;
  color: #e74430;
  bottom: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
  color: transparent;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #e74430
}
